@charset "UTF-8";
/*Variáveis em CSS*/
/*:#c5ebd6;
  :#83e1ad;
  :#3ddc84;
  :#2fa866;
  :#1a5c37;
  :#063d1e;
*/
/*Regra para importar fonte do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Regra para importar fontes de arquivo de fontes*/
@font-face {
    font-family: 'Android';
    /* "." significa pasta atual*/
    /*".." significa pasta anterior*/
    /*Meu arquivo "style.css" está na pasta estilo, então o ".." está mandando a CSS3 buscar o arquivo "idroid.otf em uma outra pasta, que está em outra pasta, no caso a pasta "estilo".*/
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*Quero selecionar todos os elementos de html e tirar as margin e Paddings deles. Como? -> seletor com o asterisco-> "* {}"*/
* {
    margin:0px;
    padding: 0px;

}

:root{/*para criar variáveis; -> todas as variáveis em CSS começam com "--";-> sem espaços;*/
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
body{
    /*usando as variáveis criadas*/
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}
a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient( to bottom, var(--cor2), var(--cor3), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1 {
    font-weight: normal;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.302);    
}

header > p{
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px; 
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.174);
}   

nav {
    background-color: var(--cor5);
    padding: 10px;    
}

nav > a{
    color: white;
    padding: 10px;
    /*tira o sublinhado*/
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
     /*Quando passar o mouse por cima do menu, ele vai demorar 2s para responder*/
     transition-duration: 1 s;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}

main{
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    /*border-radius: 0px 0px 10px 10px;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*border-top-right-radius: 25px;*/
    /*border-top-left-radius:45px;*/
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), var(--cor1));
    text-indent: 10px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    /*para centralizar a imagem, não basta '1margin:auto;', pois uma imagem não é considerada
    um bloco. Então preciso, primeiro, do 'display:block', para após utilizar 'margin:auto'.*/
    display: block;
    margin:auto;    
}
div.video{
    background-color: var(--cor5);
    margin-top: 0px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 56%;
     /*Para começar a ajustar o videio dentro da div, uso positio-relativa na div.video*/
    position: relative;
}
div.video > iframe{
     /*Depois de colocar 'position:relative' na div.video, aqui coloco 'position.absolute'*/
    position: absolute;
    /*Qdo uso "position:absolute", possso usar top, left, Width e height para posicionar o video, o iframe dentro da div.video. No nosso caso, queremos centralizado*/
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
     /*Com o video ajustado, dá play. Após o play, verá que fica uma barra escura, preta nos lado do video. Então Consegue ajustar, mexendo no padding-bottom lá da tag div.video ajustando a porcentagem*/

}

main p {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    /*justifica alinhamento do parágrafo*/
    text-align: justify;
    /*espaço da primeira linha do parágrafo. Tipo o Tab, só q aqui coloco tamanho q quero*/
    text-indent: 30px;
    font-size: 1em;
  /*altura da linha*/
    line-height: 1.15em;
}

main strong{
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside > h3{
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    /*Margem negativa -> fazer a margem sair para fora*/
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.396);
}

aside > ul{
    /*00A0 = espaço; mas não é compatível com todo navegador*/
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color:white;
    text-align: center;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 5px;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}